body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 500px;
}
button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}
.tab {
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}
.tab:hover {
    background-color: #f0f0f0;
}
.tab.active {
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
#contact-tab {
    flex-direction: column;
    font-size: 22px;
    gap: 20px;
    color: #000;
}

#contact-tab.active {
    display: flex;
}

#contact-tab a:visited {
    color: #000;
}